{{ define "main" }}
<article>
    <header>
        <p>
            {{ partial "breadcrumbs.html" . }}
        </p>
        <h1>
            {{ markdownify .LinkTitle }}
        </h1>
        <p>
        {{ if .Params.link -}}
            {{ $linkObj := urls.Parse .Params.link -}}
            {{- $attr := or .Params.attr $linkObj.Host -}}
            <p>
                <i>
                    <a href="{{ .Params.link }}">See <span class="visually-hidden">{{ or .Params.linkedtitle .Title }}</span> on {{ $attr }}</a>
                </i>
            </p>
        {{- end }}
        {{ with .PublishDate -}}
            <span>
                <b>Published:</b>
                <time datetime="{{ .Format `2006-01-02T15:05:05-07:00` }}">{{ .Format `02 Jan 2006 at 15:04 MST` }}</time>
            </span>
        {{- end }}
        {{ if ne .Lastmod .PublishDate -}}
        {{ with .Lastmod -}}
            <span>
                <b>Updated:</b>
                <time datetime="{{ .Format `2006-01-02T15:05:05-07:00` }}">{{ .Format `02 Jan 2006 at 15:04 MST` }}</time>
            </span>
        {{- end }}
        {{- end }}
        </p>
    </header>
    <div>
        {{ .Content }}
    </div>
</article>
{{ end }}